/* Reset e padrões globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

/* Remoção dos estilos padrão de listas */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Cabeçalho */
header {
    background-color: #191970;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

header img {
    max-height: 80px;
    width: auto;
    height: auto;
}


header a {
    margin-left: 70px;
    display: flex;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Corpo da página */
body {
    background-color: #87ceeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
/* Bloco de login */
.cadastro {
    border-radius: 20px;
    background-color: #9ac6e3;
    padding: 30px 50px; 
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 26px;
    width: 100%;
    max-width: 700px; 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    margin: 0px 0;
}

/* Lista de dados (e-mail e senha) */
.dados {
    margin: 100px;
    margin-right: 200px;
}

.dados li {
    margin-bottom: 15px;
}

/* Campos de entrada */
.cadastro input {
    background-color: #F3EEE8;
    width: 550px;
    height: 60px;
    border-radius: 13px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
}

/* Botão */
.cadastro button {
    width: 122px;
    height: 56px;
    margin-top: 15px;
    margin-left: 85%;
    color: #FFF;
    background-color: #F38B45;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 5px 5px 0px #0002; /* Sombra suave */
}

.ancoras{
    font-size: 20px;
}

.bodygeral {
    display: flex;
    flex-direction: column;   
    align-items: center;        

}

.alinhar-seta{
    
    display: flex;
    justify-content: center;
    
}

.seta-voltar img {   
    -webkit-user-drag: none;
    user-select: none;       
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 30px;
    height: auto;
    cursor: pointer;
}

footer {
    background-color: #191970;
    width: 100%;
    padding: 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #add8e6;
    margin-top: auto;
}
