*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}


header{
    background-color: #BFB9AE;
    height: 80px;
    display: flex;
}

header a{
    margin-left: 70px ;
    display: flex;
}

body{
    background-color: #F2EEEB;
    
}

.login{
    background-color: #BFB9AE;
    background-size: cover;
    width: 400px;
    margin: 0;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.login button{
    width: 100px;
}