*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

header{
    background-color: #BFB9AE;
    height: 80px;
}

body{
    background-color: #F2EEEB;
}

.Jogar{
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    align-items: center;
    justify-content: center;

    gap: 70px;

}

.Jogar a{
    font-size: 60px;
    color: white;
    text-decoration: none;


    border-radius: 30px;
    background-color: #0FC570;
    background-size: auto;
    padding: 10px 90px; 
    display: inline-block;
    
}

.Jogar img{
    border-radius: 80px;
}